<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CondorServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CondorServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44399/CondorService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CondorServiceSoap"
                contract="CondorService.CondorServiceSoap" name="CondorServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>